@page
@model Investahoot.Web.Pages.admin.GameModel
@{
}

<div>Current state: @Model.Game.State</div>

<h3>Players:</h3>

<ul>
    @foreach (var player in @Model.Game.PlayersByScore)
    {
        <li>@player.Name (score: @player.Score id: @player.Id)</li>
    }
</ul>

@if (Model.Game.State == Investahoot.Model.GameManager.GameState.Lobby)
{
    <form asp-page-handler="BeginGame" method="post">
        <button>Begin game</button>
    </form>
}
else if (Model.Game.State == Investahoot.Model.GameManager.GameState.Question)
{
    <div>Current question: </div>

    <div>Time left: @Model.Game.CurrentRound!.TimeLeft.ToString()</div>

    <h3>Answer options:</h3>
    <ul>
        @foreach (var answer in @Model.Game.CurrentRound!.Question.Answers)
        {
                            <li>@answer</li>
        }
    </ul>

    <form asp-page-handler="GiveAnswer" method="post">
        PlayerID: <input name="playerId"><br/>
        Answer: <input name="answerIndex">
        <button>Post answer</button>
    </form>
}
else if (Model.Game.State == Investahoot.Model.GameManager.GameState.Score)
{
    <div>Game over!</div>
}

@*<script type="text/javascript">
    setTimeout(function () {
    location.reload();
    }, 1000);
    </script>*@